.app_container {
  display: flex;
}
.content {
  width: 100%;
}
.sidebar {
  min-height: 800px;
}
.post-card {
  margin: 2rem;
  min-width: 30rem;
}
.create_post {
  width: 80%;
  margin-top: 5rem;
}
.form-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 27rem;
  margin: 1rem auto;
}
